* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: rgb(31, 44, 87);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  color: white;
}

.navFirPart h2 {
  font-size: 36px;
}
.navFirPart h2 span {
  color: #13aa52;
}

.navSecPart a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 0px 24px;
}

.navSecPart button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  margin-left: 38px;
  text-align: center;
  transform: translateY(0);
  transition:
    transform 150ms,
    box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.navSecPart button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

/* SECTION 1 CODE START  */

.section1 {
  /* border: 2px solid black; */
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  background-color: #85f2d1;
}
.sec1ParentDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 100px;
}

.sec1Fpara h3 {
  font-size: 33px;
  padding-bottom: 10px;
}
.sec1Fpara h2 {
  font-size: 53px;
  padding-bottom: 10px;
}
.sec1Fpara p {
  font-size: 20px;
  padding-bottom: 20px;
}
.sec1Btn1 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  /* margin-left: 38px; */
  margin-right: 15px;
  text-align: center;
  transform: translateY(0);
  transition:
    transform 150ms,
    box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sec1Btn1:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.sec1Btn2 {
  background-color: #dee4e1;
  border: 2px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 19px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  margin-left: 15px;
  /* margin-right: 15px; */
  text-align: center;
  transform: translateY(0);
  transition:
    transform 150ms,
    box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sec1Btn2:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.sec12para img {
  /* border: 2px solid green; */
  width: 700px;
}

/* SECTION 2 CODE START  */
.section2 {
  background-color: #f0d648;
  width: 1100px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  padding: 70px;
  border-radius: 17px;
}
.aboutParent {
  text-align: center;
  /* border: 10x solid rgb(13, 144, 251); */
}
.boxParent {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.sec2Box {
  border: 2px dotted black;
  padding: 10px 0px;
  border-radius: 10px 20px;
}
.aboutParent h3 {
  font-size: 32px;
  padding-bottom: 15px;
}
.aboutParentPtag {
  line-height: 26px;
  color: #333433;
}

/* SECTION 3 CODE START  */
.section3 {
  /* border: 3px solid black; */
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
.sec31stPara h2 {
  font-size: 34px;
  padding-bottom: 15px;
}
.sec31stPara p {
  width: 800px;
  margin: auto;
  padding-bottom: 30px;
}
.sec3BoxParent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
  margin-bottom: 50px;
}
.sec3SingleBox {
  /* border: 2px solid black; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 60px 10px;
}
.sec3SingleBox h3 {
  padding: 10px 0px;
}
.sec3SingleBox p {
  color: #333433;
}

/* SECTION 4 CODE START  */

.section4 {
  margin-left: 100px;
  margin-right: 100px;
  /* border: 2px solid black; */
  padding: 100px;
  /* text-align: center; */
}
.section4H2Tag {
  text-align: left;
  font-size: 40px;
  padding-bottom: 50px;
}

.sec4CardParent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.sec4SingleCard h3 {
  font-size: 30px;
  padding-bottom: 30px;
}
.sec4SingleCard h4 {
  font-size: 20px;
  padding-bottom: 15px;
  color: #333433;
}
.sec4SingleCard h5 {
  font-size: 14px;
  padding-bottom: 10px;
  color: #333433;
}
.sec4SingleCardHR {
  margin-top: 25px;
  margin-bottom: 5px;
}

.sec4Button {
  margin: 40px auto 20px auto;
}

/* SECTION 5 CODE START  */

.section5 {
  width: 80%;
  margin: 50px auto 100px auto;
}
.section5 h2 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 50px;
}
.sec5Parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
}
.sec5Box2,
.sec5Box4,
.sec5Box5 {
  grid-row: span 2;
}
.sec5Box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* FOOTER SECTION CODE START  */
