* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgb(31, 44, 87);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  color: white;
}

.navFirPart h2 {
  font-size: 36px;
}
.navFirPart h2 span {
  color: #13aa52;
}

.navSecPart a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 0px 24px;
}

.navSecPart button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  margin-left: 38px;
  text-align: center;
  transform: translateY(0);
  transition:
    transform 150ms,
    box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.navSecPart button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

/* SECTION 1 CODE START  */

.section1 {
  border: 2px solid black;
}
.sec1ParentDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 100px;
}
