* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
header {
  background-color: rgba(2, 147, 120, 0.918);
  color: white;
  text-align: center;
  padding: 40px 0px;
}
header h2 {
  font-size: 40px;
  padding-bottom: 15px;
}
header p {
  font-size: 20px;
  word-spacing: 4px;
}
nav {
  background-color: rgba(12, 12, 12, 0.893);
  padding: 20px 0px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  padding: 0px 30px;
}
