* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* font-weight: bold; */
}
body {
  background-color: rgba(225, 216, 216, 0.463);
}
header {
  background-color: rgba(2, 147, 120, 0.918);
  color: white;
  text-align: center;
  padding: 40px 0px;
}
header h2 {
  font-size: 40px;
  padding-bottom: 15px;
}
header p {
  font-size: 20px;
  word-spacing: 4px;
}
nav {
  background-color: rgba(12, 12, 12, 0.893);
  padding: 20px 0px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  padding: 0px 30px;
}

/* SECTION 1 CODE START  */
.aboutSec {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  width: 1200px;
  margin: 20px auto;
  height: 300px;
}
.aboutSec h2 {
  color: rgb(19, 19, 239);
  padding-top: 70px;
  padding-left: 25px;
  padding-bottom: 27px;
  font-size: 33px;
}
.aboutSec P {
  padding-left: 25px;
  color: rgba(23, 22, 22, 0.662);
  line-height: 20px;
}

/* SECTION 2 CODE START  */
.section2 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  width: 1200px;
  margin: 20px auto 100px auto;
  height: 430px;
}
table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 15px;
  font-size: 20px;
}

table {
  width: 95%;
  margin: 0px auto;
  font-weight: 400 !important;
}
.bg-gray {
  background-color: rgba(220, 220, 220, 0.324);
}
.sec2ES {
  color: rgb(19, 19, 239);
  padding-top: 70px;
  padding-left: 25px;
  padding-bottom: 17px;
  font-size: 33px;
}

/* FOOTER SECTION CODE START */
footer {
  background-color: rgba(31, 71, 108, 0.893);
  padding: 20px 0px;
  text-align: center;
  color: white;
}
