* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(231, 25, 25);
}
.parentDiv {
  background-color: white;
  display: flex;
  width: 1100px;
  height: 600px;
  margin: 100px auto;
}
.imgDiv img {
  width: 439px;
  margin-right: 70px;
}
.infoDiv {
  width: 100%;
  border: 2px solid rgb(13, 0, 128);
}
.infoDiv h2 {
  text-align: center;
  font-size: 40px;
  padding: 20px 0px;
}
.infoDiv form {
  text-align: left;
}
.useandPass {
  font-size: 24px;
  padding: 20px 0px;
}
.userNamPass {
  margin: 10px 0px;
  width: 85%;
  height: 45px;
}
.infoDiv form input::placeholder {
  font-size: 20px;
  padding: 10px 10px 10px 5px;
}
