* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(231, 25, 25);
}
.parentDiv {
  background-color: white;
  display: flex;
  width: 1200px;
  height: 600px;
  margin: 100px auto 30px auto;
}
.imgDiv img {
  width: 439px;
  margin-right: 70px;
}
.infoDiv {
  width: 100%;
}
.infoDiv h2 {
  text-align: left;
  font-size: 40px;
  padding: 20px 0px;
}
.infoDiv form {
  text-align: left;
}
.useandPass {
  font-size: 24px;
  padding: 20px 0px;
}
.userNamPass {
  margin: 10px 0px;
  width: 85%;
  height: 45px;
}
.infoDiv form input::placeholder {
  font-size: 20px;
  padding: 10px 10px 10px 5px;
}
.Remember {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Remember label {
  font-size: 23px;
}
.loginBtn {
  background-color: rgb(231, 25, 25);
  color: white;
  border: none;
  width: 85%;
  text-align: center;
  font-size: 20px;
  padding: 17px 0px;
  margin-top: 10px;
  transform: 0.4s;
  cursor: pointer;
}
.loginBtn:hover {
  background-color: rgb(206, 23, 23);
}
.developerInfo p {
  text-align: center;
  font-size: 20px;
}
