* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  background-color: white;
  padding: 18px 10px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  padding: 0px 10px;
  cursor: pointer;
}
.GEAbtn {
  background-color: rgb(0, 200, 255);
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

/* SECTION 1 CODE START  */
.sec1 {
  background-image: url("./assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  text-align: center;
}
.parentSec1 {
  padding: 60px 0px;
}
.eano {
  background-color: white;
  padding: 5px 17px;
  font-size: 18px;
  color: rgb(3, 165, 3);
  border-radius: 16px;
  border: none;
  margin-top: 50px;
  margin-bottom: 30px;
}
.heroTitle {
  font-size: 67px;
  color: white;
  margin-bottom: 14px;
}
.heroTitle span {
  color: rgb(3, 165, 3);
}
.heroPara {
  color: white;
  font-size: 18px;
  padding: 10px 0px 30px 0px;
  line-height: 30px;
}
.btnParentHero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sbyvBtn {
  background-color: rgba(15, 129, 15, 0.893);
  color: white;
  font-size: 19px;
  padding: 10px 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.shiwBtn {
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 6px 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 7px;
  cursor: pointer;
}

/* SECTION 2 CODE START  */
.sec2 {
  margin-top: 60px;
  text-align: center;
}
.sec2Firstp h3 {
  font-size: 50px;
  padding-bottom: 17px;
}
.sec2Firstp p {
  font-size: 18px;
  color: rgb(129, 123, 123);
}

.sec2ParentD {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.sec2Card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px 25px;
  margin: 0px 15px;
}
.sec2Card img {
  background-color: crimson;
  color: white;
  padding: 10px;
  border-radius: 50%;
}
.sec2Card h4 {
  font-size: 20px;
  padding: 20px 0px;
}
.sec2Card p {
  font-size: 18px;
  color: rgb(109, 107, 107);
}
